Source: fonts-noto-color-emoji-svginot
Section: fonts
Priority: extra
Standards-Version: 3.9.5
Maintainer: DeeDeeG <DeeDeeG@users.noreply.github.com>
Build-Depends: debhelper (>= 9)
Homepage: https://github.com/DeeDeeG/noto-color-emoji-font

Package: fonts-noto-color-emoji-svginot
Architecture: all
Multi-Arch: foreign
Depends:
  ${misc:Depends},
  fontconfig,
  ttf-bitstream-vera
Enhances:
  firefox
Description: Noto Color Emoji SVGinOT Font
 A color emoji SVGinOT font using Noto Color Emoji graphics from Lollipop, minus most regional flags.
 .
 Currently only Mozilla Firefox and Thunderbird support SVGinOT fonts.
 .
 Should not be installed at the same time as: fonts-emojione-svginot, or fonts-twemoji-svginot
