Source: fonts-twemoji-svginot
Section: fonts
Priority: extra
Standards-Version: 3.9.5
Maintainer: Brad Erickson <eosrei@gmail.com>
Build-Depends: debhelper (>= 9)
Homepage: https://github.com/eosrei/twemoji-color-font

Package: fonts-twemoji-svginot
Architecture: all
Multi-Arch: foreign
Depends:
  ${misc:Depends},
  fontconfig,
  ttf-bitstream-vera
Enhances:
  firefox
Description: Twitter Emoji color emoji SVGinOT font
 A color emoji SVGinOT font using Twitter for Everyone graphics with diversity
 and country flags.
 .
 Currently only Mozilla Firefox and Thunderbird support SVGinOT fonts.
 .
 Should not be installed at the same time as: fonts-emojione-svginot
